#back{
    background-color:  hsl(240, 100%, 5%);
    width: 28%;
    height: 100%;
    padding: 12px;
    border-radius: 10px;
}
.h1Box{
    font-weight: bold;
    font-size: 25px;
    color: hsl(36, 82%, 53%);
    display: flex;
}
hr{
}
h3{
    color: aliceblue;
    transition: 0.3s;
}
h3:hover{
    color: hsl(36, 82%, 53%);
    cursor: pointer;
}
.solid {
    border-top: 3px solid #bbb;
}
.p_boxnew{
    font-size: 18px;
    padding-bottom: 12%;
}