#infos{
    width: 67%;
    margin: none;
    padding: none;
    display: flex;
    flex-direction: column;
}

#foto{ 
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    
}
#txts{
    margin: none;
    width: 100%;
    
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
    
    
}
#titulo{
   font-size: 25px;
   display: flex;
   top: 0;   
   line-height: 180%;
   width: 50%;
}

h1{
    margin: 0px;
}

#paragrafo{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: left;
    top: 0;
    justify-content: space-between;
    width: 45%;
    
}
p{
    color: hsl(236, 13%, 42%);
    margin: 0px;
    line-height: 150%
}

#btn{
    background-color: black;
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px;
    border-radius: 6px;
    width: 60%;
    transition: 0.5s;
}

#btn:hover{
    background:hsl(36, 82%, 53%);
}