#nav{
   
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
   
}

#logo{
    width: 7%;
    object-fit: contain;
}

#nav-itens{
  
    display: flex;
    width: 50%;
    height: auto;

    align-items: center;
    justify-content: end;
    margin: none;
    padding: none;

}

#itens{
    
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: end;
    
    
    
}
a{
    text-decoration: none;
    color: black;
    transition: 500ms;
    
}
#itens li{
    padding-left: 5%;
    font-size: 15px;
    
}
a:hover{
    color: orangered;
}