#back {
    background-color: hsl(240, 100%, 5%);
    width: 28%;
    height: 100%;
    padding: 12px;
    border-radius: 10px;
}

.h1Box {
    font-weight: bold;
    font-size: 25px;
    color: hsl(36, 82%, 53%);
    display: flex;
}

hr {}

h3 {
    color: aliceblue;
    transition: 0.3s;
}

h3:hover {
    color: hsl(36, 82%, 53%);
    cursor: pointer;
}

.solid {
    border-top: 1px solid #574c4c;
    
}

.p_boxnew {
    font-size: 18px;
    padding-bottom: 12%;
}

#conteudo {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    #back {
        width: auto;
        padding: 5%;

    }
    .h1Box {
        
        font-size: 150%;
        
    }
    h3 {
       font-size: 100%;
    }
    .p_boxnew{
        font-size: 100%;
    }
}