#nav{
    
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
    
}

#logo{
    width: 7%;
    object-fit: contain;
}

#menu{
    object-fit: contain;  
    display: none;
   
}
#Xmenu{
    object-fit: contain;  
    display: none;
}

#anteLateral{
    position: absolute;
    top: 0; 
}

#lateral_div{
    width: 50vw;
    right: 0;
    z-index: 99;
    height: 100vh;
    margin: 0;
    background-color: blue;
}



#nav-itens{
    
    display: flex;
    width: 50%;
    height: auto;

    align-items: center;
    justify-content: end;
    margin: none;
    padding: none;

}

#itens{
    
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: end;
    
    
    
}
a{
    text-decoration: none;
    color: black;
    transition: 500ms;
    
}
#itens li{
    padding-left: 5%;
    font-size: 15px;
    
}
a:hover{
    color: orangered;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #itens{
        display: none;
    }
    #logo{
        width: 15%;
    }
    #menu{
        display: none;
        height: 100%;
        width: 21%;
    }
    #Xmenu_div{
        display: flex;
        justify-content: end;
    
    }
    #Xmenu{
        display: flex;
        height: 100%;
        width: 21%;
        padding: 10%;
    }

  }