#nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;


}

#logo {
    width: 7%;
    object-fit: contain;
}

#menu {
    object-fit: contain;
    display: none;

}

#Xmenu {
    object-fit: contain;
    display: none;
}

#nav-itens {
    display: flex;
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: end;
    margin: none;
    padding: none;

}

#itens {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: end;

}

#mob_itens {
    display: none;

}

a {
    text-decoration: none;
    color: black;
    transition: 500ms;

}

#itens li {
    padding-left: 5%;
    font-size: 15px;

}

a:hover {
    color: orangered;
}


@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #itens {
        display: none;
    }

    #logo {
        width: 15%;
    }

    #menu {
        display: flex;
        height: 100%;
        width: 21%;
    }

    #Xmenu_div {
        display: flex;
        justify-content: end;


    }

    #Xmenu {
        display: flex;
        height: 100%;
        width: 15%;
        padding: 10%;

    }

    #anteLateral {
        position: absolute;
        top: 0;
        right: 0;
    }

    #lateral_div {
        width: 0vw;
        height: 100vh;
        transition: 0.5s;
        background-color: hsl(36, 100%, 99%);

    }

    #sombra {
        width: 100vw;
        height: 100vh;
        display: none;
        transition: 0.5s;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 80%;

    }

    #mob_itens {
        list-style-type: none;
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 10%;
        justify-content: end;
    }

    li {
        font-size: 20px;
        padding: 3%;
    }


}